@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-justify">
    <p style="text-align:center;"><img src="~/logo/Profil.jpg" alt="Logo image" width="300" height="300" /></p>
    <h5 class="display-4" style="text-align:center">Welcome</h5>
    <p style="text-align:justify;">
        Hi, I'm Mateusz. I am a second year student of computer science at the Opole University of Technology.
        I am interested in sports especially football and volleyball as well as computer games.
        I create this page for programming classes. In the future, if time allows, I hope to develop this site.<a />
    </p>
</div>
